*
{
    padding:0px;
    margin:0px;
}

body{
    background-color: black;
}
.heading
{
    background: linear-gradient(130deg,rgb(31, 67, 129),rgb(0, 33, 111));
    text-align:center;
    font-size:2em;
    border-radius: 20px;
    font-weight: 400;
    color:rgb(112, 248, 255);
}
.container{
    width:450px;
    background: linear-gradient(130deg,rgb(213, 215, 93),rgb(52,78,133));
    color:black;
    font-weight: 400;
    padding:20px;
    margin:50px auto 0;
    border-radius:10px;
    align-items:center;
    background-color: rgb(0, 61, 117);
    text-align:center;
}

.search
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.search input{
    border:0;
    outline:0;
    padding:12px 22px;
    flex:1;
    margin-right:20px;
    border-radius:30px;
    font-size:18px;
    background-color:skyblue;
    color:black;
}

.search button
{
    border-radius:10px;
    padding:17px;
    margin-right:20px;
    background-color:skyblue;
    color:black;
    font-size: 15px;
    align-items:center;
}

.weather .icon
{
    margin-top:20px;
    width:160px;

}

.weather h1{
    font-size: 70px;
    font-weight:500;
}

.weather h2{
    font-size: 40px;
    font-weight:400;
    margin-top:-10px;
}

.detail
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0px 20px;
    margin-left: auto;
    margin-top:50px;
}

.col
{  margin-left:200px;
    display:flex;
    align-items:center;
    text-align:left;
}
.col img{
    width:45px;
    margin-right:10px;
}

.humidity, .wind
{ 
    font-size:25px;
}

.error
{
    text-align:left;
    color:rgb(255, 3, 3);
    font-weight:500;
    font-size: 1.3em;
    margin-left: 10px;
    margin-bottom: 10px;
    display:none;
}

.footer
{   
    text-align: center;
    align-items:center;
    /* padding:10px; */
    /* margin-top:20px; */
    border-radius:10px;
    font-weight: 300;
    color:rgb(9, 234, 234);
    background: linear-gradient(130deg,rgb(5, 0, 137),rgb(0, 0, 74));
}
.footer p
{   
    font-size:1.1em;
    align-items:center;
    margin-top:20px;
    padding:10px;
}


/* Styles for screens with a maximum width of 767px (mobile devices) */

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    
    .search input {
        font-size: 14px;
    }
    
    .search button {
        padding: 12px;
    }
    
    .weather {
        margin-top: 20px;
    }
    
    .weather h1 {
        font-size: 50px;
    }
    
    .weather h2 {
        font-size: 30px;
    }
    
    .detail {
        flex-direction: column;
    }
    
    .col {
        margin: 10px 0;
        text-align: center;
        justify-content: center;
    }
    
    .col img {
        width: 30px;
        margin: 0 5px;
    }
    
    .humidity, .wind {
        font-size: 18px;
    }
    
    .error {
        font-size: 1em;
    }
    
    .location .col {
        font-size: 16px;
        padding: 0;
    }
}
