*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}

body{
    background-color: black;
    /* background: rgb(43, 96, 145) */

}
.container{
    width:450px;
    background: linear-gradient(130deg,rgb(43,99,218),rgb(22,22,220));
    color:white;
    padding:20px;
    margin:50px auto 0;
    border-radius:10px;
    align-items:center;
    background-color: rgb(0, 61, 117);
    text-align:center;
}

.search
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.search input{
    border:0;
    outline:0;
    padding:12px 22px;
    flex:1;
    margin-right:20px;
    border-radius:30px;
    font-size:18px;
    background-color:skyblue;
    color:black;
}

.weather .icon
{
    margin-top:20px;
    width:160px;

}

.weather h1{
    font-size: 70px;
    font-weight:500;
}

.weather h2{
    font-size: 40px;
    font-weight:400;
    margin-top:-10px;
}

.detail
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0px 20px;
    /* margin-top:50px; */
    margin-left: auto;
    margin-top:50px;
}

.col
{  margin-left:200px;
    display:flex;
    align-items:center;
    text-align:left;
    /* justify-content: space-between; */
}
.col img{
    width:45px;
    margin-right:10px;
}

.humidity, .wind
{ 
    font-size:25px;
}

.error
{
    text-align:left;
    color:rgb(255, 3, 3);
    font-weight:500;
    font-size: 1.3em;
    margin-left: 10px;
    margin-bottom: 10px;
    display:none;
}